@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  background-color: #f1f1d1;
  color: #0f141e;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto",Sans-Serif;
  /*font: normal 16px "Roboto",Sans-Serif;*/
}
h2{
  font-size: 20px;
}
.avatar {
  width: 200px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0,0,0,025);
}
.info p{
  color: #86898f;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  /*text-transform: uppercase;*/
  /*letter-spacing: 15px;*/
  /*word-spacing: 42px;*/
}
.container {
  max-width: 750px;
  margin: auto;
}
.social {
  background: green;
}